

?#photos,
#no-photos,
#photos-filter {
    display: none;
}

#photos-cards.show {
    display: table;
}

:is(#no-photos, #photos-filter).show {
    display: block;
}

#photos-loader.hide {
    display: none;
}


.navb {
    background-color: gray;
    height: 3.5em;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 3em
}

.title {
    text-align: center;
    margin-left: 3rem
}

a {
    text-decoration: none;
    color: black;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    margin-top: 1em;
}

.btn-primary {
    margin-top: 1em;
}

.log{
    border-radius: 5.5em ;
}



@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin: 0;
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 35rem;
}

.form-field {
    display: grid;
    gap: 4px;
    min-width: 400px;
}

.text.error {
    color: red;
    font-size: small;
}

.pad {
    padding: 16px;
}